[Unit]
Description=tinhHub net app running on XUbuntu

[Service]
# target self-contained for linux-64
WorkingDirectory=/var/www/hub/
ExecStart=/var/www/hub/Hub.Web

Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=aspnetcore-hub
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

# The default value is 90 seconds for most distributions.
# TimeoutStopSec=90

[Install]
WantedBy=multi-user.target
