@model UserUserSettingsModel

<script>
   $(document).ready(function () {
      $("#@Html.IdFor(model => model.UserSettings.FirstNameEnabled)").click(toggleUserRequiredFormField);
      $("#@Html.IdFor(model => model.UserSettings.FirstNameRequired)").click(toggleUserRequiredFormField);
      $("#@Html.IdFor(model => model.UserSettings.LastNameEnabled)").click(toggleUserRequiredFormField);
      $("#@Html.IdFor(model => model.UserSettings.LastNameRequired)").click(toggleUserRequiredFormField);
      $("#@Html.IdFor(model => model.UserSettings.DateOfBirthEnabled)").click(toggleUserRequiredFormField);
      $("#@Html.IdFor(model => model.UserSettings.DateOfBirthRequired)").click(toggleUserRequiredFormField);
      $("#@Html.IdFor(model => model.UserSettings.CountryEnabled)").click(toggleUserCountryFormField);
      $("#@Html.IdFor(model => model.UserSettings.StateProvinceEnabled)").click(toggleUserStateProvinceFormField);
      $("#@Html.IdFor(model => model.UserSettings.CompanyEnabled)").click(toggleUserRequiredFormField);
      $("#@Html.IdFor(model => model.UserSettings.StreetAddressEnabled)").click(toggleUserRequiredFormField);
      $("#@Html.IdFor(model => model.UserSettings.StreetAddress2Enabled)").click(toggleUserRequiredFormField);
      $("#@Html.IdFor(model => model.UserSettings.ZipPostalCodeEnabled)").click(toggleUserRequiredFormField);
      $("#@Html.IdFor(model => model.UserSettings.CityEnabled)").click(toggleUserRequiredFormField);
      $("#@Html.IdFor(model => model.UserSettings.CountyEnabled)").click(toggleUserRequiredFormField);
      $("#@Html.IdFor(model => model.UserSettings.PhoneEnabled)").click(toggleUserRequiredFormField);
      $("#@Html.IdFor(model => model.UserSettings.FaxEnabled)").click(toggleUserRequiredFormField);
      $("#@Html.IdFor(model => model.UserSettings.NewsletterEnabled)").click(toggleNewsletterEnabledField);
      $("#@Html.IdFor(model => model.UserSettings.HideNewsletterBlock)").click(toggleHideNewsletterBlock);

      toggleUserCountryFormField();
      toggleUserStateProvinceFormField();
      toggleUserRequiredFormField();
      toggleNewsletterEnabledField();
      toggleHideNewsletterBlock();
   });

   function toggleUserCountryFormField() {
      if ($('#@Html.IdFor(model => model.UserSettings.CountryEnabled)').is(':checked')) {
         $('#pnlUserCountryRequired').showElement();
         $('#pnlUserStateProvinceEnabled').showElement();
         toggleUserStateProvinceFormField();
      } else {
         $('#pnlUserCountryRequired').hideElement();
         $('#pnlUserStateProvinceEnabled').hideElement();
         toggleUserStateProvinceFormField();
      }
   }

   function toggleUserStateProvinceFormField() {
      if ($('#@Html.IdFor(model => model.UserSettings.CountryEnabled)').is(':checked') &&
         $('#@Html.IdFor(model => model.UserSettings.StateProvinceEnabled)').is(':checked')) {
         $('#pnlUserStateProvinceRequired').showElement();
      } else {
         $('#pnlUserStateProvinceRequired').hideElement();
      }
   }

   function toggleUserRequiredFormField() {
      if ($('#@Html.IdFor(model => model.UserSettings.FirstNameEnabled)').is(':checked')) {
         $('#pnlUserFirstNameRequired').showElement();
      } else {
         $('#pnlUserFirstNameRequired').hideElement();
      }

      if ($('#@Html.IdFor(model => model.UserSettings.LastNameEnabled)').is(':checked')) {
         $('#pnlUserLastNameRequired').showElement();
      } else {
         $('#pnlUserLastNameRequired').hideElement();
      }

      if ($('#@Html.IdFor(model => model.UserSettings.DateOfBirthEnabled)').is(':checked')) {
         $('#pnlUserDateOfBirthRequired').showElement();
      } else {
         $('#pnlUserDateOfBirthRequired').hideElement();
      }

      if ($('#@Html.IdFor(model => model.UserSettings.DateOfBirthEnabled)').is(':checked') &&
         $('#@Html.IdFor(model => model.UserSettings.DateOfBirthRequired)').is(':checked')) {
         $('#pnlDateOfBirthMinimumAge').showElement();
      } else {
         $('#pnlDateOfBirthMinimumAge').hideElement();
      }

      if ($('#@Html.IdFor(model => model.UserSettings.CompanyEnabled)').is(':checked')) {
         $('#pnlUserCompanyRequired').showElement();
      } else {
         $('#pnlUserCompanyRequired').hideElement();
      }

      if ($('#@Html.IdFor(model => model.UserSettings.StreetAddressEnabled)').is(':checked')) {
         $('#pnlUserStreetAddressRequired').showElement();
      } else {
         $('#pnlUserStreetAddressRequired').hideElement();
      }

      if ($('#@Html.IdFor(model => model.UserSettings.StreetAddress2Enabled)').is(':checked')) {
         $('#pnlUserStreetAddress2Required').showElement();
      } else {
         $('#pnlUserStreetAddress2Required').hideElement();
      }

      if ($('#@Html.IdFor(model => model.UserSettings.ZipPostalCodeEnabled)').is(':checked')) {
         $('#pnlUserZipPostalCodeRequired').showElement();
      } else {
         $('#pnlUserZipPostalCodeRequired').hideElement();
      }

      if ($('#@Html.IdFor(model => model.UserSettings.CityEnabled)').is(':checked')) {
         $('#pnlUserCityRequired').showElement();
      } else {
         $('#pnlUserCityRequired').hideElement();
      }

      if ($('#@Html.IdFor(model => model.UserSettings.CountyEnabled)').is(':checked')) {
         $('#pnlUserCountyRequired').showElement();
      } else {
         $('#pnlUserCountyRequired').hideElement();
      }

      if ($('#@Html.IdFor(model => model.UserSettings.PhoneEnabled)').is(':checked')) {
         $('#pnlUserPhoneRequired').showElement();
      } else {
         $('#pnlUserPhoneRequired').hideElement();
      }

      if ($('#@Html.IdFor(model => model.UserSettings.FaxEnabled)').is(':checked')) {
         $('#pnlUserFaxRequired').showElement();
      } else {
         $('#pnlUserFaxRequired').hideElement();
      }
   }

   function toggleNewsletterEnabledField() {
      if ($('#@Html.IdFor(model => model.UserSettings.NewsletterEnabled)').is(':checked')) {
         $('#pnlUserNewsletterTickedByDefault').showElement();
      } else {
         $('#pnlUserNewsletterTickedByDefault').hideElement();
      }
   }

   function toggleHideNewsletterBlock() {
      if ($('#@Html.IdFor(model => model.UserSettings.HideNewsletterBlock)').is(':checked')) {
         $('#pnlNewsletterBlockAllowToUnsubscribe').hideElement();
      }
      else {
         $('#pnlNewsletterBlockAllowToUnsubscribe').showElement();
      }
   }
</script>

<div class="card-body">
   <p>
      <em>@T("Admin.Configuration.Settings.UserUser.UserFormFields.Description")</em>
   </p>
   <div class="form-group row">
      <div class="col-md-3">
         <app-label asp-for="UserSettings.GenderEnabled" />
      </div>
      <div class="col-md-9">
         <app-editor asp-for="UserSettings.GenderEnabled" />
         <span asp-validation-for="UserSettings.GenderEnabled"></span>
      </div>
   </div>
   <div class="form-group row">
      <div class="col-md-3">
         <app-label asp-for="UserSettings.FirstNameEnabled" />
      </div>
      <div class="col-md-9">
         <app-editor asp-for="UserSettings.FirstNameEnabled" />
         <span asp-validation-for="UserSettings.FirstNameEnabled"></span>
      </div>
   </div>
   <app-nested-setting asp-for="UserSettings.FirstNameEnabled" disable-auto-generation="true">
      <div class="form-group row" id="pnlUserFirstNameRequired">
         <div class="col-md-3">
            <app-label asp-for="UserSettings.FirstNameRequired" />
         </div>
         <div class="col-md-9">
            <app-editor asp-for="UserSettings.FirstNameRequired" />
            <span asp-validation-for="UserSettings.FirstNameRequired"></span>
         </div>
      </div>
   </app-nested-setting>
   <div class="form-group row">
      <div class="col-md-3">
         <app-label asp-for="UserSettings.LastNameEnabled" />
      </div>
      <div class="col-md-9">
         <app-editor asp-for="UserSettings.LastNameEnabled" />
         <span asp-validation-for="UserSettings.LastNameEnabled"></span>
      </div>
   </div>
   <app-nested-setting asp-for="UserSettings.LastNameEnabled" disable-auto-generation="true">
      <div class="form-group row" id="pnlUserLastNameRequired">
         <div class="col-md-3">
            <app-label asp-for="UserSettings.LastNameRequired" />
         </div>
         <div class="col-md-9">
            <app-editor asp-for="UserSettings.LastNameRequired" />
            <span asp-validation-for="UserSettings.LastNameRequired"></span>
         </div>
      </div>
   </app-nested-setting>
   <div class="form-group row">
      <div class="col-md-3">
         <app-label asp-for="UserSettings.DateOfBirthEnabled" />
      </div>
      <div class="col-md-9">
         <app-editor asp-for="UserSettings.DateOfBirthEnabled" />
         <span asp-validation-for="UserSettings.DateOfBirthEnabled"></span>
      </div>
   </div>
   <app-nested-setting asp-for="UserSettings.DateOfBirthEnabled" disable-auto-generation="true">
      <div class="form-group row" id="pnlUserDateOfBirthRequired">
         <div class="col-md-3">
            <app-label asp-for="UserSettings.DateOfBirthRequired" />
         </div>
         <div class="col-md-9">
            <app-editor asp-for="UserSettings.DateOfBirthRequired" />
            <span asp-validation-for="UserSettings.DateOfBirthRequired"></span>
         </div>
      </div>
      <app-nested-setting asp-for="UserSettings.DateOfBirthRequired" disable-auto-generation="true">
         <div class="form-group row" id="pnlDateOfBirthMinimumAge">
            <div class="col-md-3">
               <app-label asp-for="UserSettings.DateOfBirthMinimumAge" />
            </div>
            <div class="col-md-9">
               <app-editor asp-for="UserSettings.DateOfBirthMinimumAge" />
               <span asp-validation-for="UserSettings.DateOfBirthMinimumAge"></span>
            </div>
         </div>
      </app-nested-setting>
   </app-nested-setting>
   <div class="form-group row">
      <div class="col-md-3">
         <app-label asp-for="UserSettings.CompanyEnabled" />
      </div>
      <div class="col-md-9">
         <app-editor asp-for="UserSettings.CompanyEnabled" />
         <span asp-validation-for="UserSettings.CompanyEnabled"></span>
      </div>
   </div>
   <app-nested-setting asp-for="UserSettings.CompanyEnabled" disable-auto-generation="true">
      <div class="form-group row" id="pnlUserCompanyRequired">
         <div class="col-md-3">
            <app-label asp-for="UserSettings.CompanyRequired" />
         </div>
         <div class="col-md-9">
            <app-editor asp-for="UserSettings.CompanyRequired" />
            <span asp-validation-for="UserSettings.CompanyRequired"></span>
         </div>
      </div>
   </app-nested-setting>
   <div class="form-group row">
      <div class="col-md-3">
         <app-label asp-for="UserSettings.StreetAddressEnabled" />
      </div>
      <div class="col-md-9">
         <app-editor asp-for="UserSettings.StreetAddressEnabled" />
         <span asp-validation-for="UserSettings.StreetAddressEnabled"></span>
      </div>
   </div>
   <app-nested-setting asp-for="UserSettings.StreetAddressEnabled" disable-auto-generation="true">
      <div class="form-group row" id="pnlUserStreetAddressRequired">
         <div class="col-md-3">
            <app-label asp-for="UserSettings.StreetAddressRequired" />
         </div>
         <div class="col-md-9">
            <app-editor asp-for="UserSettings.StreetAddressRequired" />
            <span asp-validation-for="UserSettings.StreetAddressRequired"></span>
         </div>
      </div>
   </app-nested-setting>
   <div class="form-group row">
      <div class="col-md-3">
         <app-label asp-for="UserSettings.StreetAddress2Enabled" />
      </div>
      <div class="col-md-9">
         <app-editor asp-for="UserSettings.StreetAddress2Enabled" />
         <span asp-validation-for="UserSettings.StreetAddress2Enabled"></span>
      </div>
   </div>
   <app-nested-setting asp-for="UserSettings.StreetAddress2Enabled" disable-auto-generation="true">
      <div class="form-group row" id="pnlUserStreetAddress2Required">
         <div class="col-md-3">
            <app-label asp-for="UserSettings.StreetAddress2Required" />
         </div>
         <div class="col-md-9">
            <app-editor asp-for="UserSettings.StreetAddress2Required" />
            <span asp-validation-for="UserSettings.StreetAddress2Required"></span>
         </div>
      </div>
   </app-nested-setting>
   <div class="form-group row">
      <div class="col-md-3">
         <app-label asp-for="UserSettings.ZipPostalCodeEnabled" />
      </div>
      <div class="col-md-9">
         <app-editor asp-for="UserSettings.ZipPostalCodeEnabled" />
         <span asp-validation-for="UserSettings.ZipPostalCodeEnabled"></span>
      </div>
   </div>
   <app-nested-setting asp-for="UserSettings.ZipPostalCodeEnabled" disable-auto-generation="true">
      <div class="form-group row" id="pnlUserZipPostalCodeRequired">
         <div class="col-md-3">
            <app-label asp-for="UserSettings.ZipPostalCodeRequired" />
         </div>
         <div class="col-md-9">
            <app-editor asp-for="UserSettings.ZipPostalCodeRequired" />
            <span asp-validation-for="UserSettings.ZipPostalCodeRequired"></span>
         </div>
      </div>
   </app-nested-setting>
   <div class="form-group row">
      <div class="col-md-3">
         <app-label asp-for="UserSettings.CityEnabled" />
      </div>
      <div class="col-md-9">
         <app-editor asp-for="UserSettings.CityEnabled" />
         <span asp-validation-for="UserSettings.CityEnabled"></span>
      </div>
   </div>
   <app-nested-setting asp-for="UserSettings.CityEnabled" disable-auto-generation="true">
      <div class="form-group row" id="pnlUserCityRequired">
         <div class="col-md-3">
            <app-label asp-for="UserSettings.CityRequired" />
         </div>
         <div class="col-md-9">
            <app-editor asp-for="UserSettings.CityRequired" />
            <span asp-validation-for="UserSettings.CityRequired"></span>
         </div>
      </div>
   </app-nested-setting>
   <div class="form-group row">
      <div class="col-md-3">
         <app-label asp-for="UserSettings.CountyEnabled" />
      </div>
      <div class="col-md-9">
         <app-editor asp-for="UserSettings.CountyEnabled" />
         <span asp-validation-for="UserSettings.CountyEnabled"></span>
      </div>
   </div>
   <app-nested-setting asp-for="UserSettings.CountyEnabled" disable-auto-generation="true">
      <div class="form-group row" id="pnlUserCountyRequired">
         <div class="col-md-3">
            <app-label asp-for="UserSettings.CountyRequired" />
         </div>
         <div class="col-md-9">
            <app-editor asp-for="UserSettings.CountyRequired" />
            <span asp-validation-for="UserSettings.CountyRequired"></span>
         </div>
      </div>
   </app-nested-setting>
   <div class="form-group row">
      <div class="col-md-3">
         <app-label asp-for="UserSettings.CountryEnabled" />
      </div>
      <div class="col-md-9">
         <app-editor asp-for="UserSettings.CountryEnabled" />
         <span asp-validation-for="UserSettings.CountryEnabled"></span>
      </div>
   </div>
   <app-nested-setting asp-for="UserSettings.CountryEnabled" disable-auto-generation="true">
      <div class="form-group row" id="pnlUserCountryRequired">
         <div class="col-md-3">
            <app-label asp-for="UserSettings.CountryRequired" />
         </div>
         <div class="col-md-9">
            <app-editor asp-for="UserSettings.CountryRequired" />
            <span asp-validation-for="UserSettings.CountryRequired"></span>
         </div>
      </div>
   </app-nested-setting>
   <div class="form-group row" id="pnlUserStateProvinceEnabled">
      <div class="col-md-3">
         <app-label asp-for="UserSettings.StateProvinceEnabled" />
      </div>
      <div class="col-md-9">
         <app-editor asp-for="UserSettings.StateProvinceEnabled" />
         <span asp-validation-for="UserSettings.StateProvinceEnabled"></span>
      </div>
   </div>
   <app-nested-setting asp-for="UserSettings.StateProvinceEnabled" disable-auto-generation="true">
      <div class="form-group row" id="pnlUserStateProvinceRequired">
         <div class="col-md-3">
            <app-label asp-for="UserSettings.StateProvinceRequired" />
         </div>
         <div class="col-md-9">
            <app-editor asp-for="UserSettings.StateProvinceRequired" />
            <span asp-validation-for="UserSettings.StateProvinceRequired"></span>
         </div>
      </div>
   </app-nested-setting>
   <div class="form-group row">
      <div class="col-md-3">
         <app-label asp-for="UserSettings.PhoneEnabled" />
      </div>
      <div class="col-md-9">
         <app-editor asp-for="UserSettings.PhoneEnabled" />
         <span asp-validation-for="UserSettings.PhoneEnabled"></span>
      </div>
   </div>
   <app-nested-setting asp-for="UserSettings.PhoneEnabled" disable-auto-generation="true">
      <div class="form-group row" id="pnlUserPhoneRequired">
         <div class="col-md-3">
            <app-label asp-for="UserSettings.PhoneRequired" />
         </div>
         <div class="col-md-9">
            <app-editor asp-for="UserSettings.PhoneRequired" />
            <span asp-validation-for="UserSettings.PhoneRequired"></span>
         </div>
      </div>
   </app-nested-setting>
   <div class="form-group row">
      <div class="col-md-3">
         <app-label asp-for="UserSettings.FaxEnabled" />
      </div>
      <div class="col-md-9">
         <app-editor asp-for="UserSettings.FaxEnabled" />
         <span asp-validation-for="UserSettings.FaxEnabled"></span>
      </div>
   </div>
   <app-nested-setting asp-for="UserSettings.FaxEnabled" disable-auto-generation="true">
      <div class="form-group row" id="pnlUserFaxRequired">
         <div class="col-md-3">
            <app-label asp-for="UserSettings.FaxRequired" />
         </div>
         <div class="col-md-9">
            <app-editor asp-for="UserSettings.FaxRequired" />
            <span asp-validation-for="UserSettings.FaxRequired"></span>
         </div>
      </div>
   </app-nested-setting>
   <div class="form-group row">
      <div class="col-md-3">
         <app-label asp-for="UserSettings.AcceptPrivacyPolicyEnabled" />
      </div>
      <div class="col-md-9">
         <app-editor asp-for="UserSettings.AcceptPrivacyPolicyEnabled" />
         <span asp-validation-for="UserSettings.AcceptPrivacyPolicyEnabled"></span>
      </div>
   </div>
   <div class="form-group row">
      <div class="col-md-3">
         <app-label asp-for="UserSettings.NewsletterEnabled" />
      </div>
      <div class="col-md-9">
         <app-editor asp-for="UserSettings.NewsletterEnabled" />
         <span asp-validation-for="UserSettings.NewsletterEnabled"></span>
      </div>
   </div>
   <app-nested-setting asp-for="UserSettings.NewsletterEnabled" disable-auto-generation="true">
      <div class="form-group row" id="pnlUserNewsletterTickedByDefault">
         <div class="col-md-3">
            <app-label asp-for="UserSettings.NewsletterTickedByDefault" />
         </div>
         <div class="col-md-9">
            <app-editor asp-for="UserSettings.NewsletterTickedByDefault" />
            <span asp-validation-for="UserSettings.NewsletterTickedByDefault"></span>
         </div>
      </div>
   </app-nested-setting>
   @*render custom user attributes*@
   @await Html.PartialAsync("../UserAttribute/ListBlock.cshtml", Model.UserAttributeSearchModel)
</div>