<div class="header">
   @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderBefore })
   <div class="header-upper">
      <div class="header-logo">
         @await Component.InvokeAsync("Logo")
      </div>
      @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderMiddle })
      <div class="header-selectors-wrapper">
         @await Component.InvokeAsync("CurrencySelector")
         @await Component.InvokeAsync("LanguageSelector")
         @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderSelectors })
      </div>
      <div class="header-links-wrapper">
         @await Component.InvokeAsync("HeaderLinks")
      </div>
   </div>
   @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderAfter })
</div>
