@model UserModel

<div class="card-body">
    <ul class="common-list">
        <li>@T("Admin.Users.Users.Impersonate.Description1")</li>
        <li>@T("Admin.Users.Users.Impersonate.Description2")</li>
    </ul>
    <button type="submit" name="impersonate" class="btn btn-primary">
        <i class="fas fa-shopping-cart"></i>
        @T("Admin.Users.Users.Impersonate.Button")
    </button>
</div>