@page "/connection-access-denied"
@layout AuthLayout
<h3 style="margin-top: 6px;">@T["Connection.AccessDenied"]</h3>
<p style="margin-top: 130px;">@T["Connection.AccessDenied.Message"]</p>


@code {

}
