@inherits LayoutComponentBase

<div id="app">
   <svg class="loading-progress">
      <circle r="40%" cx="50%" cy="50%" />
      <circle r="40%" cx="50%" cy="50%" />
   </svg>
   <div class="loading-progress-login">
      @Body
   </div>
</div>



@code {

}
