@{
   Layout = "_ColumnsOne";

   //title
   AppHtml.AddTitleParts(T("PageTitle.PageNotFound").Text);
   //page class
   AppHtml.AppendPageCssClassParts("html-not-found-page");
}
<div class="page not-found-page">
   <div class="page-title">
      <h2>@T("PageTitle.PageNotFound")</h2>
   </div>
   <div class="page-body">
      @await Component.InvokeAsync("TopicBlock", new { systemName = "PageNotFound" })
   </div>
</div>
