<div class="row mb-3 align-items-center">
   <div class="col-md-3 justify-content-md-end d-flex">
      <TinyLabel Text="@T["Widget.CreateOrEdit.Label.QueueVolume"]" class="text-right" />
   </div>
   <div class="col-md-9">
      <RadzenNumeric Name="HistoryPointsCount" ShowUpDown=true @bind-Value=@_adjustment.HistoryPointsCount Disabled=@IsLoading TValue="int" Style="width: 100%; display:block;" />
      <RadzenNumericRangeValidator Component="HistoryPointsCount" Min="1" Max="1000" Text="@T["Validation.RequireRange", 1, 1000]" Style="position: absolute" />
   </div>
</div>

@code {
   [Parameter] public WidgetModel Model { get; set; }
   [Parameter] public bool IsLoading { get; set; }

   ConsoleWidgetAdjustment _adjustment;

   protected override void OnInitialized()
   {
      _adjustment = string.IsNullOrEmpty(Model?.Adjustment)
      ? new ConsoleWidgetAdjustment()
      : JsonSerializer.Deserialize<ConsoleWidgetAdjustment>(Model.Adjustment);

      base.OnInitialized();
   }

   protected override void OnParametersSet()
   {
      Model.Adjustment = JsonSerializer.Serialize(_adjustment);
      base.OnParametersSet();
   }

   public class ConsoleWidgetAdjustment
   {
      public int HistoryPointsCount { get; set; }
   }
}
