<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Home" appResource="Admin.Home" controller="Home" action="Overview">
    <siteMapNode SystemName="Dashboard" appResource="Admin.Dashboard" controller="Home" action="Index" IconClass="fas fa-desktop" />
    <siteMapNode SystemName="Users" appResource="Admin.Users" PermissionNames="ManageUsers, ManageActivityLog" IconClass="far fa-user" >
      <siteMapNode SystemName="Users list" appResource="Admin.Users.Users" PermissionNames="ManageUsers" controller="User" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="User roles" appResource="Admin.Users.UserRoles" PermissionNames="ManageUsers" controller="UserRole" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Online users" appResource="Admin.Users.OnlineUsers" PermissionNames="ManageUsers" controller="OnlineUser" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="User activity logs" appResource="Admin.Users.ActivityLog" PermissionNames="ManageActivityLog" controller="UserActivityLog" action="ActivityLogs" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="User activity types" appResource="Admin.Users.ActivityLogType" PermissionNames="ManageActivityLog" controller="UserActivityLog" action="ActivityTypes" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="GDPR log" appResource="Admin.Users.GdprLog" PermissionNames="ManageUsers" controller="User" action="GdprLog" IconClass="far fa-dot-circle" />
    </siteMapNode>
    <siteMapNode SystemName="Devices" appResource="Admin.Devices" PermissionNames="ManageDevices, ManageActivityLog" IconClass="fas fa-server">
      <siteMapNode SystemName="Devices list" appResource="Admin.Devices.Devices" PermissionNames="ManageDevices" controller="Device" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Online devices" appResource="Admin.Devices.OnlineDevices" PermissionNames="ManageDevices" controller="OnlineDevice" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Device activity logs" appResource="Admin.Devices.ActivityLog" PermissionNames="ManageActivityLog" controller="DeviceActivityLog" action="ActivityLogs" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Device activity types" appResource="Admin.Devices.ActivityLogType" PermissionNames="ManageActivityLog" controller="DeviceActivityLog" action="ActivityTypes" IconClass="far fa-dot-circle"/>
    </siteMapNode>
    <siteMapNode SystemName="Multicast" appResource="Admin.Milticast" PermissionNames="ManageAffiliates, ManageNewsletterSubscribers, ManageCampaigns" IconClass="fas fa-tags">
      <siteMapNode SystemName="Newsletter subscriptions" appResource="Admin.Milticast.NewsletterSubscriptions" PermissionNames="ManageNewsletterSubscribers" controller="NewsLetterSubscription" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Campaigns" appResource="Admin.Milticast.Campaigns" PermissionNames="ManageCampaigns" controller="Campaign" action="List"  IconClass="far fa-dot-circle"/>
    </siteMapNode>
    <siteMapNode SystemName="Content Management" appResource="Admin.ContentManagement" PermissionNames="ManagePolls, ManageNews, ManageBlog, ManageTopics, ManageForums, ManageMessageTemplates" IconClass="fas fa-cubes">
      <siteMapNode SystemName="Topics" appResource="Admin.ContentManagement.Topics" PermissionNames="ManageTopics" controller="Topic" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Message templates" appResource="Admin.ContentManagement.MessageTemplates" PermissionNames="ManageMessageTemplates" controller="MessageTemplate" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="News items" appResource="Admin.ContentManagement.News.NewsItems" PermissionNames="ManageNews" controller="News" action="NewsItems" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="News comments" appResource="Admin.ContentManagement.News.Comments" PermissionNames="ManageNews" controller="News" action="NewsComments" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Blog posts" appResource="Admin.ContentManagement.Blog.BlogPosts" PermissionNames="ManageBlog" controller="Blog" action="BlogPosts" IconClass="far fa-dot-circle"/>      
      <siteMapNode SystemName="Blog comments" appResource="Admin.ContentManagement.Blog.Comments" PermissionNames="ManageBlog" controller="Blog" action="BlogComments" IconClass="far fa-dot-circle"/>      
      <siteMapNode SystemName="Polls" appResource="Admin.ContentManagement.Polls" PermissionNames="ManagePolls" controller="Poll" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Manage forums" appResource="Admin.ContentManagement.Forums" PermissionNames="ManageForums" controller="Forum" action="List"  IconClass="far fa-dot-circle"/>
    </siteMapNode>    
    <siteMapNode SystemName="Configuration" appResource="Admin.Configuration" PermissionNames="ManageCountries,ManageLanguages,ManageSettings,ManageAppSettings,ManagePaymentMethods,ManageExternalAuthenticationMethods,ManageMultifactorAuthenticationMethods,ManageWidgets,ManageCurrencies,ManageACL,ManageEmailAccounts,ManagePlugins"
       IconClass="fas fa-cogs">
      <siteMapNode SystemName="Settings" appResource="Admin.Configuration.Settings" PermissionNames="ManageSettings" IconClass="far fa-dot-circle" >
        <siteMapNode SystemName="App settings" appResource="Admin.Configuration.AppSettings" PermissionNames="ManageAppSettings" controller="Setting" action="AppSettings" IconClass="far fa-circle"/>
        <siteMapNode SystemName="General settings" appResource="Admin.Configuration.Settings.GeneralCommon" controller="Setting" action="GeneralCommon" IconClass="far fa-circle"/>
        <siteMapNode SystemName="User settings" appResource="Admin.Configuration.Settings.UserUser" controller="Setting" action="UserUser" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Device settings" appResource="Admin.Configuration.Settings.Device" controller="Setting" action="Device" IconClass="far fa-circle"/>
        <siteMapNode SystemName="GDPR settings" appResource="Admin.Configuration.Settings.Gdpr" controller="Setting" action="Gdpr" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Blog settings" appResource="Admin.Configuration.Settings.Blog" controller="Setting" action="Blog" IconClass="far fa-circle"/>
        <siteMapNode SystemName="News settings" appResource="Admin.Configuration.Settings.News" controller="Setting" action="News" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Forums settings" appResource="Admin.Configuration.Settings.Forums" controller="Setting" action="Forum" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Media settings" appResource="Admin.Configuration.Settings.Media" controller="Setting" action="Media" IconClass="far fa-circle"/>
        <siteMapNode SystemName="All settings" appResource="Admin.Configuration.Settings.AllSettings" controller="Setting" action="AllSettings" IconClass="far fa-circle"/>
      </siteMapNode>
      <siteMapNode SystemName="Email accounts" appResource="Admin.Configuration.EmailAccounts" PermissionNames="ManageEmailAccounts" controller="EmailAccount" action="List" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Countries" appResource="Admin.Configuration.Countries" PermissionNames="ManageCountries" controller="Country" action="List" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Languages" appResource="Admin.Configuration.Languages" PermissionNames="ManageLanguages" controller="Language" action="List" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Currencies" appResource="Admin.Configuration.Currencies" PermissionNames="ManageCurrencies" controller="Currency" action="List" IconClass="far fa-dot-circle"/>      
      
      <siteMapNode SystemName="Access control list" appResource="Admin.Configuration.ACL" PermissionNames="ManageACL" controller="Security" action="Permissions" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Widgets" appResource="Admin.ContentManagement.Widgets" PermissionNames="ManageWidgets" controller="Widget" action="List"  IconClass="far fa-dot-circle"/>
      
      <siteMapNode SystemName="Authentication" appResource="Admin.Configuration.Authentication" PermissionNames="ManageExternalAuthenticationMethods,ManageMultifactorAuthenticationMethods" IconClass="far fa-dot-circle">
        <siteMapNode SystemName="External authentication methods" appResource="Admin.Configuration.Authentication.ExternalMethods" PermissionNames="ManageExternalAuthenticationMethods" controller="Authentication" action="ExternalMethods" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Multi-factor authentication methods" appResource="Admin.Configuration.Authentication.MultiFactorMethods" PermissionNames="ManageMultifactorAuthenticationMethods" controller="Authentication" action="MultiFactorMethods" IconClass="far fa-circle"/>
      </siteMapNode>
      
      <siteMapNode SystemName="Local plugins" appResource="Admin.Configuration.Plugins.Local" PermissionNames="ManagePlugins" controller="Plugin" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="All plugins and themes" appResource="Admin.Configuration.Plugins.OfficialFeed" PermissionNames="ManagePlugins" controller="Plugin" action="OfficialFeed"  IconClass="far fa-dot-circle"/>
    </siteMapNode>
    <siteMapNode SystemName="System" appResource="Admin.System" PermissionNames="ManageSystemLog,ManageMessageQueue,ManageMaintenance,ManageScheduleTasks" IconClass="fas fa-cube">
      <siteMapNode SystemName="System information" appResource="Admin.System.SystemInfo" PermissionNames="ManageMaintenance" controller="Common" action="SystemInfo"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Log" appResource="Admin.System.Log" PermissionNames="ManageSystemLog" controller="Log" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Warnings" appResource="Admin.System.Warnings" PermissionNames="ManageMaintenance" controller="Common" action="Warnings"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Maintenance" appResource="Admin.System.Maintenance" PermissionNames="ManageMaintenance" controller="Common" action="Maintenance"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Queued emails" appResource="Admin.System.QueuedEmails" PermissionNames="ManageMessageQueue" controller="QueuedEmail" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Schedule tasks" appResource="Admin.System.ScheduleTasks" PermissionNames="ManageScheduleTasks" controller="ScheduleTask" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Search engine friendly names" appResource="Admin.System.SeNames" PermissionNames="ManageMaintenance" controller="Common" action="SeNames"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Templates" appResource="Admin.System.Templates" PermissionNames="ManageMaintenance" controller="Template" action="List" IconClass="far fa-dot-circle"/>     
    </siteMapNode>
    <siteMapNode SystemName="Reports" appResource="Admin.Reports" PermissionNames="ManageUsers" IconClass="fas fa-chart-line">
      <siteMapNode SystemName="Users" appResource="Admin.Reports.Users" PermissionNames="ManageUsers" IconClass="far fa-dot-circle">
        <siteMapNode SystemName="Registered users" appResource="Admin.Reports.Users.RegisteredUsers" PermissionNames="ManageUsers" controller="Report" action="RegisteredUsers" IconClass="far fa-dot-circle" />
      </siteMapNode>
    </siteMapNode>
    <siteMapNode SystemName="Help" appResource="Admin.Help" IconClass="fas fa-question-circle">
      <siteMapNode SystemName="Documentation" appResource="Admin.Help.Documentation" url="https://docs.tinyplat.com?utm_source=admin-panel&amp;utm_medium=menu&amp;utm_campaign=documentation&amp;utm_content=help"  IconClass="far fa-dot-circle" OpenUrlInNewTab="true"/>
      <siteMapNode SystemName="Community forums" appResource="Admin.Help.Forums" url="https://github.com/aybelanov/tinyPlatform/discussions"  IconClass="far fa-dot-circle" OpenUrlInNewTab="true"/>
      <!--<siteMapNode SystemName="Premium support services" appResource="Admin.Help.SupportServices" url="https://www.tinyplat.com/tinyplat-premium-support-services?utm_source=admin-panel&amp;utm_medium=menu&amp;utm_campaign=premium_support&amp;utm_content=help"  IconClass="far fa-dot-circle" OpenUrlInNewTab="true"/>-->
    </siteMapNode>
    <siteMapNode SystemName="Third party plugins" appResource="Admin.Plugins" IconClass="fas fa-bars" />
  </siteMapNode>
</siteMap>

