<span class="rz-text-caption">
   @*Would you like to remove the "Powered by tinyPlat" link in the bottom of the footer?
   Please find more info at https://www.tinyplat.com/license*@
    Powered by <a href="https://tinyplat.com" target="_blank" class="rz-link">tinyPlat</a> 
    @("v" + Defaults.ClientVersion)
</span>
